* {
  margin: 0;
  background-color: #cdcdcd;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

h2 {
  font-size: 1.2rem;
  padding: 20px 15px;
  background-color: black;
  color: white;
  font-weight: lighter;
}

.container-main {
  padding: 35px 35px;
}

.searching-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#search-text {
  flex-basis: 84%;
  padding: 15px;
  box-sizing: border-box;
  background-color: #d9d9d9;
}

#search-btn {
  cursor: pointer;
  flex-basis: 15%;
  box-sizing: border-box;
  padding: 15px;
  color: aliceblue;
  background-color: black;
}
.sorting-area {
  display: flex;
  justify-content: space-between;
}

.sorting-btn {
  cursor: pointer;
  flex-basis: 15%;
  margin: 25px 0px;
  padding: 15px;
  background-color: black;
  color: aliceblue;
}

#stu-table {
  background: black;
  width: 100%;
}
.stu-table {
  margin-top: 20px;
  background: black;
  width: 100%;
}

#id {
  text-align: center;
}
#name {
  width: 30%;
}

td {
  padding: 15px;
  background-color: #d9d9d9;
}
